* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #222 */
}

html,
body {
    height: 100%
}

pre,
code {
    width: 100%;
    box-sizing: border-box;
}

.hljs {
    background: #222!important
}

.head {
    min-height: 100vh!important;
    width: 100%;
    padding: 0!important;
    text-align: center;
}

.head-box {
    width: 400px;
    max-width: 90%;
}

.head h1 {
    font-size: 6em;
    color: #222
}

.head p {
    font-size: 1.7em;
    color: rgba(34, 34, 34, 0.7)
}

.size {
    width: 1200px;
    max-width: 90%;
}

.example h1 {
    font-size: 2.5em!important;
}

.margin {
    margin: 0 auto
}

.example {
    min-height: 50vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    box-sizing: border-box
}

.example .container,
.example .row {
    background: #222;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.container.column .box,
.container.column-reverse .box {}

.example .container.no-wrap .box,
.example .container.wrap .box {}

.example .container.no-wrap .box.flex-grow-1,
.example .container.wrap .box.flex-grow-1,
.example .container.no-wrap .box.flex-grow-2,
.example .container.wrap .box.flex-grow-2,
.example .container.no-wrap .box.flex-grow-3,
.example .container.wrap .box.flex-grow-3,
.example .container.no-wrap .box.flex-grow-4,
.example .container.wrap .box.flex-grow-4,
.example .container.no-wrap .box.flex-grow-5,
.example .container.wrap .box.flex-grow-5,
.example .container.no-wrap .box.flex-grow-6,
.example .container.wrap .box.flex-grow-6,
.example .container.no-wrap .box.flex-grow-7,
.example .container.wrap .box.flex-grow-7,
.example .container.no-wrap .box.flex-grow-8,
.example .container.wrap .box.flex-grow-8,
.example .container.no-wrap .box.flex-grow-9,
.example .container.wrap .box.flex-grow-9,
.example .container.no-wrap .box.flex-grow-10,
.example .container.wrap .box.flex-grow-10,
.example .container.no-wrap .box.flex-grow-11,
.example .container.wrap .box.flex-grow-11,
.example .container.no-wrap .box.flex-grow-12,
.example .container.wrap .box.flex-grow-12 {}

.align-items-stretch,
.align-items-baseline,
.align-items-start,
.align-items-center,
.align-items-end {
    min-height: 200px;
}

.hr {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hr .green {
    width: 100px;
    height: 10px;
    border-radius: 20px;
    background: #50fa7b;
    border: none;
    margin: 0 auto
}

.box,
[class*="basis-"],
[class*="basis-"],
[class*="col-"] {
    background: #50fa7b;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .head {
        min-height: 50vh!important;
    }
    .head h1 {
        font-size: 3em;
    }
    .head p {
        font-size: 1em;
    }
    .example h1 {
        font-size: 1.5em!important;
    }
    .box,
    [class*="basis-"],
    [class*="basis-"],
    [class*="col-"] {
        margin: 5px!important;
        padding: 5px!important;
    }
}