*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* @media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {} */

/* container */

.align-center {
  justify-content: center;
  align-content: center;
}

.container {
  display: flex
}

.container-inline {
  display: inline-flex
}

.wrap {
  flex-wrap: wrap
}

.no-wrap {
  flex-wrap: nowrap
}

.wrap-reverse {
  flex-wrap: wrap-reverse
}

.row {
  flex-direction: row
}

.row-reverse {
  flex-direction: row-reverse
}

.column {
  flex-direction: column
}

.column-reverse {
  flex-direction: column-reverse
}

.justify-content-start {
  justify-content: flex-start
}

.justify-content-center {
  justify-content: center
}

.justify-content-end {
  justify-content: flex-end
}

.justify-content-between {
  justify-content: space-between
}

.justify-content-around {
  justify-content: space-around
}

.align-items-start {
  align-items: flex-start
}

.align-items-center {
  align-items: center
}

.align-items-end {
  align-items: flex-end
}

.align-items-baseline {
  align-items: baseline
}

.align-items-stretch {
  align-items: stretch
}

/* container */

/* items */

.align-self-auto {
  align-self: auto
}

.align-self-start {
  align-self: flex-start
}

.align-self-center {
  align-self: center
}

.align-self-end {
  align-self: flex-end
}

.align-self-baseline {
  align-self: baseline
}

.align-self-stretch {
  align-self: stretch
}

.flex-grow-1 {
  flex-grow: 1
}

.flex-grow-2 {
  flex-grow: 2
}

.flex-grow-3 {
  flex-grow: 3
}

.flex-grow-4 {
  flex-grow: 4
}

.flex-grow-5 {
  flex-grow: 5
}

.flex-grow-6 {
  flex-grow: 6
}

.flex-grow-7 {
  flex-grow: 7
}

.flex-grow-8 {
  flex-grow: 8
}

.flex-grow-9 {
  flex-grow: 9
}

.flex-grow-10 {
  flex-grow: 10
}

.flex-grow-11 {
  flex-grow: 11
}

.flex-grow-12 {
  flex-grow: 12
}

.flex-basis-10 {
  flex-basis: 10px
}

.flex-basis-15 {
  flex-basis: 15px
}

.flex-basis-20 {
  flex-basis: 20px
}

.flex-basis-25 {
  flex-basis: 25px
}

.flex-basis-30 {
  flex-basis: 30px
}

.flex-basis-35 {
  flex-basis: 35px
}

.flex-basis-40 {
  flex-basis: 40px
}

.flex-basis-45 {
  flex-basis: 45px
}

.flex-basis-50 {
  flex-basis: 50px
}

.flex-basis-55 {
  flex-basis: 55px
}

.flex-basis-60 {
  flex-basis: 60px
}

.flex-basis-65 {
  flex-basis: 65px
}

.flex-basis-70 {
  flex-basis: 70px
}

.flex-basis-75 {
  flex-basis: 75px
}

.flex-basis-80 {
  flex-basis: 70px
}

.flex-basis-85 {
  flex-basis: 75px
}

.flex-basis-90 {
  flex-basis: 70px
}

.flex-basis-95 {
  flex-basis: 75px
}

.flex-basis-100 {
  flex-basis: 100px
}

.flex-basis-150 {
  flex-basis: 150px
}

.flex-basis-200 {
  flex-basis: 200px
}

.flex-basis-250 {
  flex-basis: 250px
}

.flex-basis-300 {
  flex-basis: 300px
}

.flex-basis-350 {
  flex-basis: 350px
}

.flex-basis-400 {
  flex-basis: 400px
}

.flex-basis-450 {
  flex-basis: 450px
}

.flex-basis-500 {
  flex-basis: 500px
}

.flex-basis-550 {
  flex-basis: 550px
}

.flex-basis-600 {
  flex-basis: 600px
}

.flex-basis-650 {
  flex-basis: 650px
}

.flex-basis-700 {
  flex-basis: 700px
}

.flex-basis-750 {
  flex-basis: 750px
}

.flex-basis-800 {
  flex-basis: 800px
}

.flex-basis-850 {
  flex-basis: 850px
}

.flex-basis-900 {
  flex-basis: 900px
}

.flex-basis-950 {
  flex-basis: 950px
}

.flex-basis-1000 {
  flex-basis: 1000px
}

.flex-basis-1050 {
  flex-basis: 1050px
}

.flex-basis-1100 {
  flex-basis: 1100px
}

.flex-basis-1150 {
  flex-basis: 1150px
}

.flex-basis-1200 {
  flex-basis: 1200px
}

/* items */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  flex-grow: 0;
  flex-basis: 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex-grow: 0;
  flex-basis: 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-grow: 0;
  flex-basis: 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex-grow: 0;
  flex-basis: 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex-grow: 0;
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-grow: 0;
  flex-basis: 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex-grow: 0;
  flex-basis: 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex-grow: 0;
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-grow: 0;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex-grow: 0;
  flex-basis: 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}

.order-1 {
  order: 1
}

.order-2 {
  order: 2
}

.order-3 {
  order: 3
}

.order-4 {
  order: 4
}

.order-5 {
  order: 5
}

.order-6 {
  order: 6
}

.order-7 {
  order: 7
}

.order-8 {
  order: 8
}

.order-9 {
  order: 9
}

.order-10 {
  order: 10
}

.order-11 {
  order: 11
}

.order-12 {
  order: 12
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-1 {
    flex-grow: 0;
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    flex-grow: 0;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-grow: 0;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    flex-grow: 0;
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-grow: 0;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    flex-grow: 0;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-grow: 0;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex-grow: 0;
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .order-sm-1 {
    order: 1
  }
  .order-sm-2 {
    order: 2
  }
  .order-sm-3 {
    order: 3
  }
  .order-sm-4 {
    order: 4
  }
  .order-sm-5 {
    order: 5
  }
  .order-sm-6 {
    order: 6
  }
  .order-sm-7 {
    order: 7
  }
  .order-sm-8 {
    order: 8
  }
  .order-sm-9 {
    order: 9
  }
  .order-sm-10 {
    order: 10
  }
  .order-sm-11 {
    order: 11
  }
  .order-sm-12 {
    order: 12
  }
  .wrap-sm {
    flex-wrap: wrap
  }
  .no-wrap-sm {
    flex-wrap: nowrap
  }
  .wrap-reverse-sm {
    flex-wrap: wrap-reverse
  }
  .row-sm {
    flex-direction: row
  }
  .row-reverse-sm {
    flex-direction: row-reverse
  }
  .column-sm {
    flex-direction: column
  }
  .column-reverse-sm {
    flex-direction: column-reverse
  }
  .justify-content-sm-start {
    justify-content: flex-start
  }
  .justify-content-sm-center {
    justify-content: center
  }
  .justify-content-sm-end {
    justify-content: flex-end
  }
  .justify-content-sm-between {
    justify-content: space-between
  }
  .justify-content-sm-around {
    justify-content: space-around
  }
  .align-items-sm-start {
    align-items: flex-start
  }
  .align-items-sm-center {
    align-items: center
  }
  .align-items-sm-end {
    align-items: flex-end
  }
  .align-items-sm-baseline {
    align-items: baseline
  }
  .align-items-sm-stretch {
    align-items: stretch
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-1 {
    flex-grow: 0;
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    flex-grow: 0;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-grow: 0;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    flex-grow: 0;
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-grow: 0;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    flex-grow: 0;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-grow: 0;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex-grow: 0;
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .order-md-1 {
    order: 1
  }
  .order-md-2 {
    order: 2
  }
  .order-md-3 {
    order: 3
  }
  .order-md-4 {
    order: 4
  }
  .order-md-5 {
    order: 5
  }
  .order-md-6 {
    order: 6
  }
  .order-md-7 {
    order: 7
  }
  .order-md-8 {
    order: 8
  }
  .order-md-9 {
    order: 9
  }
  .order-md-10 {
    order: 10
  }
  .order-md-11 {
    order: 11
  }
  .order-md-12 {
    order: 12
  }
  .wrap-md {
    flex-wrap: wrap
  }
  .no-wrap-md {
    flex-wrap: nowrap
  }
  .wrap-reverse-md {
    flex-wrap: wrap-reverse
  }
  .row-md {
    flex-direction: row
  }
  .row-reverse-md {
    flex-direction: row-reverse
  }
  .column-md {
    flex-direction: column
  }
  .column-reverse-md {
    flex-direction: column-reverse
  }
  .justify-content-md-start {
    justify-content: flex-start
  }
  .justify-content-md-center {
    justify-content: center
  }
  .justify-content-md-end {
    justify-content: flex-end
  }
  .justify-content-md-between {
    justify-content: space-between
  }
  .justify-content-md-around {
    justify-content: space-around
  }
  .align-items-md-start {
    align-items: flex-start
  }
  .align-items-md-center {
    align-items: center
  }
  .align-items-md-end {
    align-items: flex-end
  }
  .align-items-md-baseline {
    align-items: baseline
  }
  .align-items-md-stretch {
    align-items: stretch
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-1 {
    flex-grow: 0;
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    flex-grow: 0;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-grow: 0;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    flex-grow: 0;
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-grow: 0;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    flex-grow: 0;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-grow: 0;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex-grow: 0;
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .order-lg-1 {
    order: 1
  }
  .order-lg-2 {
    order: 2
  }
  .order-lg-3 {
    order: 3
  }
  .order-lg-4 {
    order: 4
  }
  .order-lg-5 {
    order: 5
  }
  .order-lg-6 {
    order: 6
  }
  .order-lg-7 {
    order: 7
  }
  .order-lg-8 {
    order: 8
  }
  .order-lg-9 {
    order: 9
  }
  .order-lg-10 {
    order: 10
  }
  .order-lg-11 {
    order: 11
  }
  .order-lg-12 {
    order: 12
  }
  .wrap-lg {
    flex-wrap: wrap
  }
  .no-wrap-lg {
    flex-wrap: nowrap
  }
  .wrap-reverse-lg {
    flex-wrap: wrap-reverse
  }
  .row-lg {
    flex-direction: row
  }
  .row-reverse-lg {
    flex-direction: row-reverse
  }
  .column-lg {
    flex-direction: column
  }
  .column-reverse-lg {
    flex-direction: column-reverse
  }
  .justify-content-lg-start {
    justify-content: flex-start
  }
  .justify-content-lg-center {
    justify-content: center
  }
  .justify-content-lg-end {
    justify-content: flex-end
  }
  .justify-content-lg-between {
    justify-content: space-between
  }
  .justify-content-lg-around {
    justify-content: space-around
  }
  .align-items-lg-start {
    align-items: flex-start
  }
  .align-items-lg-center {
    align-items: center
  }
  .align-items-lg-end {
    align-items: flex-end
  }
  .align-items-lg-baseline {
    align-items: baseline
  }
  .align-items-lg-stretch {
    align-items: stretch
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-1 {
    flex-grow: 0;
    flex-basis: 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    flex-grow: 0;
    flex-basis: 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    flex-grow: 0;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex-grow: 0;
    flex-basis: 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    flex-grow: 0;
    flex-basis: 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    flex-grow: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex-grow: 0;
    flex-basis: 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    flex-grow: 0;
    flex-basis: 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    flex-grow: 0;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex-grow: 0;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex-grow: 0;
    flex-basis: 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    flex-grow: 0;
    flex-basis: 100%;
    max-width: 100%;
  }
  .order-xl-1 {
    order: 1
  }
  .order-xl-2 {
    order: 2
  }
  .order-xl-3 {
    order: 3
  }
  .order-xl-4 {
    order: 4
  }
  .order-xl-5 {
    order: 5
  }
  .order-xl-6 {
    order: 6
  }
  .order-xl-7 {
    order: 7
  }
  .order-xl-8 {
    order: 8
  }
  .order-xl-9 {
    order: 9
  }
  .order-xl-10 {
    order: 10
  }
  .order-xl-11 {
    order: 11
  }
  .order-xl-12 {
    order: 12
  }
  .wrap-xl {
    flex-wrap: wrap
  }
  .no-wrap-xl {
    flex-wrap: nowrap
  }
  .wrap-reverse-xl {
    flex-wrap: wrap-reverse
  }
  .row-xl {
    flex-direction: row
  }
  .row-reverse-xl {
    flex-direction: row-reverse
  }
  .column-xl {
    flex-direction: column
  }
  .column-reverse-xl {
    flex-direction: column-reverse
  }
  .justify-content-xl-start {
    justify-content: flex-start
  }
  .justify-content-xl-center {
    justify-content: center
  }
  .justify-content-xl-end {
    justify-content: flex-end
  }
  .justify-content-xl-between {
    justify-content: space-between
  }
  .justify-content-xl-around {
    justify-content: space-around
  }
  .align-items-xl-start {
    align-items: flex-start
  }
  .align-items-xl-center {
    align-items: center
  }
  .align-items-xl-end {
    align-items: flex-end
  }
  .align-items-xl-baseline {
    align-items: baseline
  }
  .align-items-xl-stretch {
    align-items: stretch
  }
}

/*text aligns*/

.text-align-left {
  text-align: left
}

.text-align-center {
  text-align: center
}

.text-align-right {
  text-align: right
}

/*text aligns*/

/*spaces*/

.space {
  width: 90%;
  margin: 0 auto;
}

.border-box {
  box-sizing: border-box;
}

.margin {
  margin: 0 auto;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-50 {
  margin: 50px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-50 {
  padding: 50px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-30 {
  padding-left: 30px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

/*spaces*/
